{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        四味书屋
    {% endif %}
{% endblock %}


{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
{% endblock %}

{% block navbar %}

    {% include "navbar.html" %}
{% endblock %}


{% block content %}
    <div class="container">
    {% if not request.endpoint in ['look_book','select_book','buybook'] %}
        <div class="row">
            <div class="col-md-6">
                {% for message in get_flashed_messages() %}
                    <div class="alert alert-info">{{ message }}</div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    <div class="container">
        {% block page_content %}
        {% endblock %}
    </div>
    <div class="container">
    {% block admin_content %}
        {% endblock %}
    </div>

{% endblock %}
