{% extends 'base.html' %}

{% block page_content %}


<div class="container">
    <div class="row">
        <div class="col-lg-5">
            <div class="container">
                <form class="form-inline" method="post">
                    {% import "bootstrap/wtf.html""" as wtf %}
                    {{ form.email.label }}<br>{{ form.email(class = "form-control") }}<br><br>
                    {{ form_sub.verification_code.label }}<br>{{ form_sub.verification_code(class = "form-control") }}
                    {{ form.send_code(class = "form-control") }}
                </form>
            </div>
            <br>
            <div class="col-md-3">
                <form method="post">
                    {{ wtf.form_field(form_sub.submit) }}
                </form>
            </div>
        </div>
    </div>
</div>

<br>

{% endblock %}