{% extends 'base.html' %}

{% block page_content %}
    <h1>找回密码</h1>
    <br>
{#    <form class="" method="post" role="form">#}
    <div class="row">
        <div class="col-md-5">
            {% import "bootstrap/wtf.html" as wtf %}
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{#            <div class="row">#}
{#                <div class="col-md-2">#}
{#                    {{ wtf.form_field(form.verification_code) }}#}
{#                </div>#}
{#                <div class="col-md-1">#}
{#                    <br>#}
{#                    <button class="btn btn-default" type="submit">Button</button>#}
{#                    {{ wtf.form_field(form.send_code) }}#}
{#                </div>#}
{#            </div>#}
{#    </form>#}


    {#    <div class="row">#}
    {#    <div class="col-md-6">#}
    {#        <hr>#}
    {#        <a href="{{ url_for('Retrieve_password') }}">忘记密码?</a>#}
    {#    </div>#}
{% endblock %}